
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Make links inherit text color */
a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts and text color for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* FONTS */

@font-face {
    font-family: 'Raleway';
    src: url(assets/fonts/Raleway-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(assets/fonts/Raleway-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-Bold.woff2) format('woff2');
    font-weight: 700;
}

/* CUSTOM PROPERTIES */

:root {
    /* COLORS */

    /* Primary */

    --clr-primary-100: hsl(216, 53%, 9%);
    --clr-primary-200: hsl(218, 28%, 13%);
    --clr-primary-300: hsl(217, 28%, 15%);
    --clr-primary-400: hsl(219, 30%, 18%);

    /* Accent */
    --clr-accent-100: hsl(176, 68%, 64%);
    --clr-accent-200: hsl(0, 100%, 63%);
    --clr-accent-300: hsl(198, 60%, 50%);

    /* Neutral */
    --clr-white: hsl(0, 0%, 100%);

    /* TYPOGRAPHY */
    --fs-body: .875rem;
    --ff-raleway: 'Raleway', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
}

/* UTILITIES */

.visually-hidden {
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;

}

.flow {
  --flow-space: 1.5em;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

/* COMPONENTS */

a {
    text-decoration: none;
    display: inline-block;
}


.btn {
    border: none;
    padding: .8em 3em;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(90deg, var(--clr-accent-100), var(--clr-accent-300));
    text-transform: capitalize;

    &:is(:hover, :active) {
      background: var(--clr-accent-100);
    }
}

/* GENERAL STYLING */

body {
    font-family: var(--ff-open-sans);
    color: var(--clr-white);
    background-color: var(--clr-primary-200);
}


/* HEADER */

.header {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    padding: 3rem;
    background-color: var(--clr-primary-300);
}

.logo-wrapper {
  grid-column: 1 / 3;
}

.navbar {
  grid-column: 4/ 5;
}

.navbar__list {
    display: flex;
    gap: 1rem;
}

.navbar__list__item__link:is(:hover, :focus) {
  color: var(--clr-white);
  text-decoration: underline;
}

/* INTRO */

.intro {
    display: grid;
    grid-template-columns: 1fr min(60ch, 100%) 1fr;
    text-align: center;
    background-color: var(--clr-primary-300);
    padding-inline: 2rem;
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.intro > * {
  grid-column: 2;
}

.testimonial {
    background-color: var(--clr-primary-400);
}

/* BENEFITS */

.benefits {
  --flow-space: 7em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-inline: 5rem;
}

@media (min-width: 50rem) {
  .benefits {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefit__paragraph {
  --flow-space: 1em;
}

.big-benefit {
  --flow-space: 7em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  padding-inline: 4rem;
}

@media (min-width: 50rem) {
  .big-benefit {
    grid-template-columns: 1fr 1fr;
  }
}

.big-benefit__link__wrapper:has(:hover) {
  :is(.big-benefit__link, .big-benefit__link__icon__use) {
    color: currentColor;
    fill: currentColor;
  }
  .big-benefit__link::after {
    background-color: currentColor;
  }
}

.big-benefit__link {
  color: var(--clr-accent-100);
  margin-right: 2rem;
  position: relative;

  svg {
    vertical-align: middle;
  }
}

.big-benefit__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent-100);
  position: absolute;
  bottom: -5px;
}

.big-benefit__text__paragraphs {
  --flow-space: 1em;
}


/* TESTIMONAILS */

.testimonials {
  --flow-space: 8em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-inline: 4rem;
}

@media (min-width: 50rem) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
  }
}

.testimonial {
  padding: 3rem 2rem;
}

.testimonial:first-of-type {
  position: relative;
}

.testimonial:first-of-type::before {
  display: block;
  content: url('images/bg-quotes.png');
  position: absolute;
  top: -12%;
  left: -5%;
  z-index: -1;
}

.figure {
  display: flex;
  align-items: center;
  gap: 1em;

  .testimonial__image {
    border-radius: 50%;
    object-fit: cover;
    width: 15%;
  }

  .figcaption__name {
    font-weight: var(--fw-700);
  }
}

/* CTA */

.cta-wrapper {
  display: grid;
  place-content: center;
  padding-inline: 2rem;
}

.cta {
  text-align: center;
  max-width: 45rem;
  margin-inline: auto;
  background-color: var(--clr-primary-300);
  border-radius: 10px;
  padding: 2rem;
  transform: translateY(50%);
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 50rem) {
  .cta__form {
    grid-template-columns: 1fr auto;
  }
}

.email-input {
  border: none;
  border-radius: 20px;
  padding: .8em 3em;
  color: var(--clr-primary-200);
}

.error-message {
  text-align: initial;
  margin-top: .5em;
  padding-inline-start: 3em;
  display: none;
  color: var(--clr-accent-200);
}



/* FOOTER */

.footer {
  background-color: var(--clr-primary-100);
  padding: 12rem 3rem 6rem;
}

 .footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
 }

      @media (min-width: 50rem) {
        .footer-container {
        grid-template-columns: repeat(7, 1fr);

          :nth-child(1) {
            grid-column: 1 / 3;
          }
    
          :nth-child(2) {
            grid-column: 3 / 5;
          }
    
          :nth-child(3) {
            grid-column: 5 / 6;
          }
    
          :nth-child(4) {
            grid-column: 6 / 7;
          }
    
          :nth-child(5) {
            grid-column: 7 / 8;
          }
      }
}

:is(.location, .phone, .email) {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.email {
  --flow-space: .8em;
}

.sitemap-first__list__item {
  --flow-space: .8em;
}

.sitemap-second__list__item {
  --flow-space: .8em; 
}

.social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-media__link:is(:hover) svg{
  fill: var(--clr-accent-100);
  transition: .25s;
}

.social-media svg {
  width: 30px;
  height: 30px;
}

